.Partecima{
    position: fixed;
    font-family: "Comic Neue", cursive;
}
.Retangulo01{
    background: rgb(32, 32, 186);
    height: 100px;
    width: 1538px;
    margin-top: -100px;
    align-content: center;
    text-align: center;
    margin-left: -10px;
}

.Título1{
    margin-top: -70px;
    text-align: center;
    align-content: center;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
}
.Pagina_inicial{
    margin-top: -50px;
    color: rgb(22, 19, 19);
    font-size: 20px;
    margin-left: 50px;
}
a{
   color: white;
}
.Cardapio{
    margin-top: -30px;
    color: white;
    font-size: 20px;
    margin-left: 350px;
}
.Promoções{
    margin-left: 750px;
    margin-top: -30px;
    color: white;
    font-size: 20px;
    margin-left: 1050px;
}
.Reserva{
    margin-top: -29px;
    color: white;
    font-size: 20px;
    margin-left: 1300px;
}
th, td {
    padding: 10px; /* espaço interno */
    text-align: center; /* centralizar texto */
}
table{
    height: 500px;
    width: 1100px;
    border-collapse: collapse;
    margin-top: 40px;
    margin-left: 200px;
    text-align: center;
    align-content: center;
}
tr:nth-child(even) { /* linhas pares */
    background-color: #f9f9f9;
    }
tr:nth-child(odd){
    background-color: #067dfc;
}
table, th, td {
    border: 1px solid black;
}
.t01{
    color: white;
}
.t02{
    color: black;
}
.t03{
    color: white;
}
.t04{
    color: black;
}
.t05{
    color: white;
}
.t06{
    color: black;
}
.t07{
    color: white;
}
.Retangulo03{
    background: rgb(123, 123, 250);
    height: 637px;
    width: 1537px;
    margin-top: 100px;
    align-content: center;
    text-align: center;
    margin-left: -10px;
}
h2{
    color: blanchedalmond;
    margin-top: -600px;
    margin-left: 650px;
}