body{
    margin: 0;

}

.Box{
    display: inline-block;
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    padding: 10px 30px;
    border: 2px solid black;
    margin: 10px 50px;
    text-align: center;
    align-content: center;

}

.Box2{
    display: inline-block;
    background-color: brown;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    padding: 20px;
    margin: 10px 50px;
}

.div-centralizada{
    margin: 0 auto;
    width: 300px;
}

.Conteudo1{
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}

.Conteudo2{
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}