body {
    text-align: center;
    background: rgb(1, 65, 1);
}

.nao, .sim{
      display: inline-block;
}

.nao:hover, .sim:hover {
    background-color: rgb(166, 255, 32);
}

.nao{
    width: 500px;
    height: 200px;
    font-size: 150%;
}

.sim{
   width: 500px;
   height: 200px;
    font-size: 150%;
}

h1{
    color: white;
}
.havertz{
    display: inline;
    margin-top: 100px;
    margin-left: 600px;
    height: 300px;
    width: 500px;
    position: absolute;
}

.pinga{
    display: inline;
    margin-top: 100px;
    left: 100px;
    position: absolute;
}


#spotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; 
    z-index: 9999;
    transition: background 0.1s ease; 
}

.dudu{
    display: inline;
    margin-top: 400px;
    left: 100px;
    height: 200px;
    width: 300px;
    position: absolute;
}

.cor{
    display: inline;
    margin-top: 300px;
    margin-left: 00px;
    height: 300px;
    width: 500px;
    position: absolute;
}

a{
    color: white;
    font-size: 25px;
}

.mundial{
    height: 800px;
    width: 700px;
}
