.div-centralizada{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: orange;
}

.Box{
    align-content: center;
    text-align: center;
    background-color: green;
    height: 100px;
    width: 200px;
    margin: 100px 80px;
}
