.Box{
    display: inline-block;
    align-content: center;
    text-align: center;
    background-color: green;
    height: 40px;
    width: 120px;
    margin: 5px;
}
.Box2{
    display: inline-block;
    align-content: center;
    text-align: center;
    background-color: red;
    height: 40px;
    width: 120px;
    margin: 5px;
}
.Box3{
    display: inline-block;
    align-content: center;
    text-align: center;
    background-color: blue;
    height: 40px;
    width: 120px;
    margin: 5px;
}
.Box4{
    display: inline-block;
    align-content: center;
    text-align: center;
    background-color: yellow;
    height: 40px;
    width: 120px;
    margin: 5px;
}
