.Cartao{
    display: inline-block;
    align-content: center;
    text-align: center;
    background-color: green;
    height: 250px;
    width: 200px;
    margin: 10px;
    padding: 15px;
}
.Cartao2{
    display: inline-block;
    align-content: center;
    text-align: center;
    background-color: rgb(128, 53, 0);
    height: 250px;
    width: 200px;
    margin: 10px;
    padding: 15px;
}
.Cartao3{
    display: inline-block;
    align-content: center;
    text-align: center;
    background-color: rgb(9, 0, 128);
    height: 250px;
    width: 200px;
    margin: 10px;
    padding: 15px;
}
