.Box{
    display: inline-block;
    align-content: center;
    text-align: center;
    background-color: green;
    height: 150px;
    width: 150px;
    margin: 10px;
    padding: 15px;
}
.Box2{
    display: inline-block;
    align-content: center;
    text-align: center;
    background-color: red;
    height: 150px;
    width: 150px;
    margin: 10px;
    padding: 15px;
}
