img{
    height: 500px;
    width: 700px;
    border-radius: 30px;
}
h1{
    text-align: center;
}
a{
    color: red;
}
.link{
    text-align: center;
}
p{
    background-color: rgb(0, 0, 0);
    color: white;
}
div{
    text-align: center;
}
.p01{
    text-align: center;
}
.p02{
    text-align: center;
}