h1{
    color: black;
    text-align: center;
}
.p01{
    background-color: rgb(12, 12, 12);
    color: white;
    text-align: center;
}
a{
    color: red;
}
.Link{
    text-align: center;
}
.p02{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
div{
    text-align: center;
}
img{
    border-radius: 30px;
}
