.retangulo{
    background: black;
    height: 100px;
    width: 800px;
    margin-top: 0px;
}

.Título1{
    margin-top: -60px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black ;
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
}
.logo{
    margin-top: -70px;
    height: 50px;
    width: 50px;
    background: white;
    float: right;
    margin-left: 80px;
}
h2{
    color: red;
    text-align: center;
}
img{
    height: 400px;
    width: 400px;
    border-radius: 30px;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px; /* espaço interno */
    text-align: center; /* centralizar texto */
}
table{
    border-collapse: collapse;
}
tr:nth-child(even) { /* linhas pares */
    background-color: #f9f9f9;
    }
tr:nth-child(odd){
    background-color: #100e0e;
}
h3{
    color: red;
    text-align: center;
}
.t01{
    color: white;
}
.t02{
    color: black;
}
.t03{
    color: white;
}
.l03{
    color: white;
}

.img-vit{
    text-align: center;
}
.img-yur{
    text-align: center;
}
.Noticia1{
    text-align: center;
}
.Noticia2{
    text-align: center;
}
.Link2{
    color: black;
}